.column {
  background: lightgrey;
  padding: 5px;

  overflow: scroll;
}

.column__title {
  padding: 5px;
  word-break: break-all;
}

.column__title--container {
  display: flex;
  justify-content: space-between;

  border-bottom: solid 1px white;
  margin-bottom: 5px;
}

.column__button--delete {
  align-self: flex-start;
}
